<div class="as-superbox-list" ng-click="currentEntry(entry)">
    <img ng-src="{{entry.img_thumb}}"
         data-img="{{entry.img_full}}"
         alt="{{entry.alt}}" title="{{entry.title}}" class="as-superbox-img">
</div>
<div id="superbox-show-{{entry.id }}" class="as-superbox-show" style="display: block" ng-show="isSelected(entry)">
    <div id="imgInfoBox" class="as-superbox-imageinfo">
        <h1>{{entry.title}}</h1>
        <span>
            <p class="as-superbox-img-description">{{entry.description}}</p>
            <br/>
            <br/>

           <button type="button" class="btn btn-primary btn-sm" style="padding: 5px; margin: 5px;" ng-repeat="actionObj in actions" ng-click="actionObj.action(entry)">
               {{actionObj.label}}
           </button>
        </span>
    </div>
    <img ng-src="{{entry.img_full_real}}" class="as-superbox-current-img">

    <span class="glyphicon glyphicon-remove as-superbox-close" aria-hidden="true" ng-click="close()"></span>
</div>